{{/*  {{if $.Site.Data.config.enableFooter}}
  {{if $.Site.Data.graphConfig.enableGlobalGraph}}
      <div class="page-end" id="footer">

        <div>
            {{partial "graph.html" .}}
        </div>

      </div>
  {{else}}
      <hr/>
      <div class="page-end" id="footer">
        <div class="backlinks-container">
            {{partial "backlinks.html" .}}
        </div>
        <div>
            {{partial "graph.html" .}}
        </div>

      </div>
  {{end}}
{{end}}  */}}
<hr class="hr-division-line" style="overflow: visible; padding:0; border:none; border-top: medium double cadetblue; color: cadetblue; text-align:center; height: 4px; margin-top:120px; background-color: cadetblue;"/>
{{partial "contact.html" .}}
